PORT=
CAPACITY=

SERVER_NAME=

USER_MIN_LENGTH=
USER_MAX_LENGTH=

PASSWORD_MIN_LENGTH=

MAJOR_VERSION=
MINOR_VERSION=
REVISION_VERSION=

START_MAP=
START_MAP_X=
START_MAP_Y=

POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB_USER=
POSTGRES_DB_PASS=
POSTGRES_DB_NAME=
POSTGRES_DB_SCHEMA=